body {
    margin: auto;
    max-width: 1400px;
    border: 1px solid black;
    font-family: 'Raleway';
}

header {
    display: flex;
    justify-content: space-between;
}

#logo img {
    width: 61.09px;
    height: 19px;
    margin-top: 44px;
}

nav {
    margin-top: 48px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 15px;
}

ul li {
    list-style-type: none;
}

main {
    display: block;
}

#hebergement {
    display: flex;
}

#offres {
    flex: 1;
    background: #F2F2F2;
    border-radius: 20px;
    margin-right: 40px;
}

#offres ul {
    display: flex;
    flex-wrap: wrap;
}

#offres li {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#offres img {
    width: 246px;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

#populaires {
    background: #F2F2F2;
    border-radius: 20px;
}

#populaires li {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
}

#populaires img {
    width: 137px;
    height: 144px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

#activites img {
    width: 302px;
    height: 388px;
    border-radius: 20px 20px 0px 0px;
}

ul.footer {
    display: flex;
}