body {
    font-family: 'Raleway';
}

#container {
    margin: 0px auto;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1400px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #000000;
}

i {
    color: #0065FC;
}

h2 {
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 8px;
    margin-top: 0px;
}

h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 20px;
}

h4 {
    margin-top: 4px;
    margin-bottom: 9px;
}

img {
    object-fit: cover;
}

header {
    display: flex;
    justify-content: space-between;
    /*Espacement comme sur la maquette*/
    margin-bottom: 63px;
}

#logo img {
    width: 61.09px;
    height: 19px;
    margin-top: 44px;
}

header nav {
    top: 0px;
}

header a:hover {
    color: #0065FC;
}

header nav ul {
    list-style-type: none;
    display: flex;
    margin-top: 0px;
    /*Pas de bas sur le UL*/
    margin-bottom: 0px;
}

header nav li {
    margin-right: 15px;
    padding: 44px 30px 0px 30px;
}

header nav li:hover {
    border-top: #0065FC solid 2px;
    padding-top: 42px;
}

ul li {
    list-style-type: none;
}

label {
    margin-right: 30px;
    margin-left: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

main {
    display: block;
}

#recherche div {
    display: flex;
}

#recherche div ul {
    display: flex;
    margin: 0;
    padding-left: 0;
    gap: 20px;
    width: 100%;
}

#recherche div li {
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    font-weight: 700;
    font-size: 17px;
    padding: 0 10px;
}

#recherche div li:hover {
    background-color: #c0d7f8;
}

#recherche div li a {
    margin-left: 10px;
    white-space: nowrap;
    font-size: 15px;
}

#recherche form {
    display: flex;
    margin-bottom: 36px;
}

#recherche button {
    z-index: 3;
    width: 132px;
    height: 49px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
}

#iconRecherche {
    display: none;
}

#pictomap {
    z-index: 2;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    height: 49px;
    width: 50px;
    /* pour aligner le i dans la div*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#pictomap i {
    color: #000000;
}

#lieu {
    z-index: 1;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    height: 49px;
    width: 332px;
    font-weight: 700;
    font-size: 18px;
    padding-left: 66px;
    padding-right: 35px;
    /* pour que le picto et le bouton passent au dessus du champs text */
    margin-left: -50px;
    margin-right: -30px;
}

/*Pour eviter le bord bleu autour du champs*/
#lieu:focus-visible {
    outline: 1px solid #F2F2F2;
}

#pictoinfo {
    height: 24px;
    width: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    font-size: 10px;
    color: #0065FC;
}

#infoLogement {
    display: flex;
    align-items: center;
    margin: 39px 0;
}

#hebergement {
    display: flex;
    gap: 40px;
    margin-bottom: 60px;
}

#offres {
    flex: 1;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    flex-basis: 70%;
}

#offres div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    margin-top: 23px;
    margin-bottom: 40px;
}

#offres a {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 0px;
    margin-bottom: 31px;
    flex-basis: 30%;
    /* min-width: 240px; */
}

#offres a.plus {
    font-size: 18px;
    font-weight: 700;
    background-color: transparent;
    border-radius: 0px;
}

#offres figure {
    margin: 0px;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
}

#offres figcaption {
    margin: 0px 11px 16px 11px;
}

#offres p {
    margin-top: 0px;
    margin-bottom: 11px;
}

#offres img {
    width: 100%;
    height: 119px;
    border-radius: 20px 20px 0px 0px;
}

#populaires {
    background: #F2F2F2;
    border-radius: 20px;
    flex-basis: 30%;
    padding: 40px 40px 40px 37px;
}

#populaires h2.titre {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

#populaires div {
    margin-top: 23px;
    margin-bottom: 40px;
    gap: 33px;
}

#populaires div.infos {
    margin: 0px;
}

#populaires a {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 33px;
    display: flex;
    min-height: 215px;
}

#populaires figure {
    margin: 0px;
    display: flex;
}

#populaires figcaption {
    margin: 16px 22px 12px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#populaires img {
    width: 137px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

#populaires p {
    margin-top: 0px;
    margin-bottom: 11px;
}

#activites img {
    width: 100%;
    height: 388px;
    border-radius: 20px 20px 0px 0px;
}

#activites div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    gap: 20px;
}

#activites a {
    margin-top: 23px;
    box-shadow: 0px 0px 9px 2px #E2E2E2;
    border-radius: 20px;
    flex-basis: 25%;
}

#activites figure {
    margin: 0px;
}

#activites h4 {
    margin: 20px;
}

ul.footer {
    display: flex;
    background: #F2F2F2;
    padding: 45px 70px 70px 70px;
    gap: 150px;
}

ul.footer li {
    font-size: 18px;
    font-weight: 700;
}

ul.footer li ul {
    margin-top: 20px;
    padding: 0px;
}

ul.footer li li {
    font-weight: 400;
    font-size: 16px;
    margin-top: 12px;
}

/*j'ai ajouté cette média query(requete recherche= selection) tout les ecrans qui ont taille max de 1024 en mode device*/
/* tablette */
@media screen and (max-width : 992px) {
    header nav li:hover {
        border-top: none;
        padding-top: 44px;
    }

    #container {
        padding-left: 60px;
        padding-right: 60px;
    }

    #hebergement {
        flex-direction: column;
    }

    #populaires {
        width: auto;
    }

    #populaires div {
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
    }

    #populaires div.infos {
        display: block;
    }

    #populaires img {
        width: 30%;
    }

    #populaires a {
        flex-basis: 33%;
        min-height: auto;
    }

    #populaires h4 {
        font-size: 14px;
    }

    #populaires p {
        font-size: 13px;
    }

    #populaires figcaption {
        margin-bottom: 10px;
    }

    #offre a {
        min-width: 180px;
    }

    #activites img {
        height: 208px;
    }

    footer {
        white-space: nowrap;
    }

    ul.footer {
        gap: 40px;
    }
}

/* Mobile : https://media-queries.aliasdmc.fr/media-queries-live.php 
    Mais on recupère aussi le desgin tablette car on est dans la media query tablette
    */
@media screen and (max-width : 768px) {
    body{
        margin: 0px;
    }

    #container {
        padding-left: 0;
        padding-right: 0;
    }

    header {
        flex-direction: column;
    }

    #logo {
        display: flex;
        justify-content: center;
    }

    #logo img {
        margin-top: 21px;
    }

    h4 {
        margin-bottom: 30px;
    }

    header {
        margin-bottom: 30px;
    }

    header nav ul {
        justify-content: space-around;
        padding-left: 0;
    }

    header nav li {
        border-bottom: 2px solid #c0d7f8;
        padding-bottom: 21px;
        margin-right: 0;
        width: 100%;
        display: flex;
        font-weight: 700;
        justify-content: center;
    }

    /* hérite de li et modifie juste celui qui a la classe active */
    header nav li.active {
        border-bottom-color: #0065FC;
    }

    header nav li.active a {
        color: #0065FC;
    }

    #recherche {
        padding-left: 20px;
        padding-right: 20px;
    }

    #lieu {
        width: 100%;
    }

    #filtres {
        flex-direction: column;
    }

    #recherche div ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }

    #recherche div li {
        margin-bottom: 10px;
        /* Pour avoir les boutons tous identiques en taille */
        min-width: 125px;
        flex-basis: 40%;
    }

    #recherche div li a {
        font-size: 12px;
    }

    #recherche button {
        width: 52px;
    }

    #iconRecherche {
        display: block;
        color: #FFFFFF;
        font-size: 1rem;
    }

    #labelRecherche {
        display: none;
    }

    label {
        margin-bottom: 15px;
    }

    #hebergement {
        margin-bottom: 0;
    }

    #populaires {
        width: auto;
        order: -1;
        border-radius: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    #populaires div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 0px;
        gap: 20px;
    }

    #populaires div.infos {
        display: block;
    }

    #populaires img {
        width: 106px;
    }

    #populaires a {
        box-shadow: 0px 0px 9px 2px #E2E2E2;
        width: 100%;
        margin-bottom: 12px;
        height: 150px;
        flex-basis: auto;
    }

    #populaires h4 {
        font-size: 14px;
        margin-bottom: 9px;
    }

    #populaires p {
        font-size: 13px;
    }

    #populaires figcaption {
        margin-bottom: 10px;
    }

    #offres {
        border-radius: 0;
        background-color: #FFFFFF;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0;
        padding-bottom: 0;
    }

    #offres div {
        flex-direction: column;
    }

    #offres a {
        box-shadow: 0px 0px 9px 2px #E2E2E2;
        width: 100%;
        margin-bottom: 12px;
    }

    #offres a.plus {
        box-shadow: none;
        visibility: hidden;
    }

    #offres img {
        width: 100%;
    }

    #activites {
        padding-left: 20px;
        padding-right: 20px;
    }

    #activites a {
        flex-basis: 100%;
    }

    #activites div {
        flex-direction: column;
    }

    #activites img {
        width: 100%;
        height: 208px;
    }

    #activites h4 {
        width: auto;
    }

    ul.footer {
        margin-bottom: 0;
        gap: 50px;
        flex-direction: column;
    }
}