body {
    margin: 0px auto;
    max-width: 1400px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Raleway';
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #000000;
}

i {
    color: #0065FC;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 8px;
    margin-top: 0px;
}

h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 4px;
    margin-bottom: 9px;
}

img {
    object-fit: cover;
}

header {
    display: flex;
    justify-content: space-between;
    /*Espacement comme sur la maquette*/
    margin-bottom: 63px;
}

#logo img {
    width: 61.09px;
    height: 19px;
    margin-top: 44px;
}

header nav {
    top: 0px;
}

header a:hover {
    color: #0065FC;
}

header nav ul {
    list-style-type: none;
    display: flex;
    margin-top: 0px;
    /*Pas de bas sur le UL*/
    margin-bottom: 0px;
}

header nav li {
    margin-right: 15px;
    padding: 44px 30px 0px 30px;
}

header nav li:hover {
    border-top: #0065FC solid 2px;
    padding-top: 42px;
}

ul li {
    list-style-type: none;
}

label {
    margin-right: 30px;
    margin-left: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

main {
    display: block;
}

#recherche div {
    display: flex;
}

#recherche div ul {
    display: flex;
    margin: 0;
    gap: 50px;
}

#recherche div li {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    font-weight: 700;
    font-size: 17px;
    padding: 0 10px;
}

#recherche div li:hover {
    background-color: #c0d7f8;
}

#recherche div li a {
    margin-left: 10px;
}

#recherche form {
    display: flex;
    margin-bottom: 36px;
}

#recherche button {
    z-index: 3;
    width: 132px;
    height: 49px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
}

#pictomap {
    z-index: 2;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    height: 49px;
    width: 50px;
    /* pour aligner le i dans la div*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#pictomap i {
    color: #000000;
}

#lieu {
    z-index: 1;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    height: 49px;
    width: 332px;
    font-weight: 700;
    font-size: 18px;
    padding-left: 66px;
    padding-right: 35px;
    /* pour que le picto et le bouton passent au dessus du champs text */
    margin-left: -50px;
    margin-right: -30px;
}

/*Pour eviter le bord bleu autour du champs*/
#lieu:focus-visible {
    outline: 1px solid #F2F2F2;
}

#pictoinfo {
    height: 24px;
    width: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    font-size: 10px;
    color: #0065FC;
}

#infoLogement {
    display: flex;
    align-items: center;
    margin: 39px 0;
}

#hebergement {
    display: flex;
    gap: 40px;
    margin-bottom: 60px;
}

#offres {
    flex: 1;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
}

#offres div {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    gap: 31px;
    margin-top: 23px;
    margin-bottom: 40px;
}

#offres a {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 0px
}

#offres a.plus {
    font-size: 18px;
    font-weight: 700;
    background-color: transparent;
    border-radius: 0px;
}

#offres figure {
    margin: 0px;
}

#offres figcaption {
    margin: 0px 16px 16px 16px;
}

#offres p {
    margin-top: 0px;
    margin-bottom: 11px;
}

#offres img {
    width: 236px;
    height: 119px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

#populaires {
    background: #F2F2F2;
    border-radius: 20px;
    width: 400px;
    padding: 40px 40px 40px 37px;
}

#populaires div.titre {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

#populaires div {
    margin-top: 23px;
    margin-bottom: 40px;
    gap: 33px;
}

#populaires div.infos {
    margin: 0px;
}

#populaires a {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 33px;
    display: flex;
}

#populaires figure {
    margin: 0px;
    display: flex;
}

#populaires figcaption {
    margin: 16px 22px 12px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#populaires img {
    width: 137px;
    height: 144px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

#populaires p {
    margin-top: 0px;
    margin-bottom: 11px;
}

#activites img {
    width: 302px;
    height: 388px;
    border-radius: 20px 20px 0px 0px;
}

#activites div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

#activites a {
    margin-top: 23px;
    box-shadow: 0px 0px 9px 2px #E2E2E2;
    border-radius: 20px;
}

#activites figure {
    margin: 0px;
}

#activites h3 {
    margin: 20px;
}

ul.footer {
    display: flex;
    gap: 250px;
    background: #F2F2F2;
    padding: 45px 70px 70px 70px;
}

ul.footer li {
    font-size: 18px;
    font-weight: 700;
}

ul.footer li ul {
    margin-top: 20px;
    padding: 0px;
}

ul.footer li li {
    font-weight: 400;
    font-size: 16px;
    margin-top: 12px;
}

@media all and (max-width: 1024px)
{
    #hebergement {
        flex-direction: column;
    }

    #populaires {
        width: auto;
    }

    #populaires div {
        display: flex;
        flex-wrap: wrap;
    }
    
    #populaires a {
        width: 252px;
    }


}