body {
    margin: auto;
    max-width: 1400px;
    border: 1px solid black;
    font-family: 'Raleway';
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #000000;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 8px;
}

h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    /*Espacement comme sur la maquette*/
    margin-bottom: 63px;
}

#logo img {
    width: 61.09px;
    height: 19px;
    margin-top: 44px;
}

header nav {
    top: 0px;
}

header a:hover {
    color: #0065FC;
}

header nav ul {
    list-style-type: none;
    display: flex;
    margin-top: 0px;
    /*Pas de bas sur le UL*/
    margin-bottom: 0px;
}

header nav li {
    margin-right: 15px;
    padding: 44px 30px 0px 30px;
}

header nav li:hover {
    border-top: #0065FC solid 2px;
    padding-top: 42px;
}

ul li {
    list-style-type: none;
}

label {
    margin-right: 30px;
    margin-left: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

main {
    display: block;
}

#recherche nav {
    display: flex;
}

#recherche nav ul {
    display: flex;
    margin: 0;
    gap: 50px;
}

#recherche nav li {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    font-weight: 700;
    font-size: 17px;
    padding: 0 10px;
}

#recherche nav li:hover {
    background-color: #c0d7f8;
}

#recherche nav li i {
    color: #0065FC;
}

#recherche nav li a {
    margin-left: 10px;
}

#recherche form {
    display: flex;
    margin-bottom: 36px;
}

#recherche button {
    z-index: 3;
    width: 132px;
    height: 49px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
}

#pictomap {
    z-index: 2;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    height: 49px;
    width: 50px;
    /* pour aligner le i dans la div*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#lieu {
    z-index: 1;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    height: 49px;
    width: 332px;
    font-weight: 700;
    font-size: 18px;
    padding-left: 66px;
    padding-right: 35px;
    /* pour que le picto et le bouton passent au dessus du champs text */
    margin-left: -50px;
    margin-right: -30px;
}

#lieu:focus {
    border: 1px solid #F2F2F2;
}

#pictoinfo{
    height: 24px;
    width: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    font-size: 10px;
    color: #0065FC;
}

#infoLogement {
    display: flex;
    align-items: center;
    margin: 39px 0;
}

#hebergement {
    display: flex;
}

#offres {
    flex: 1;
    background: #F2F2F2;
    border-radius: 20px;
    margin-right: 40px;
}

#offres ul {
    display: flex;
    flex-wrap: wrap;
}

#offres li {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#offres img {
    width: 246px;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

#populaires {
    background: #F2F2F2;
    border-radius: 20px;
}

#populaires li {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
}

#populaires img {
    width: 137px;
    height: 144px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

#activites img {
    width: 302px;
    height: 388px;
    border-radius: 20px 20px 0px 0px;
}

ul.footer {
    display: flex;
}