body {
    margin:auto;
    max-width:1400px;
    border: 1px solid black;
   }
   header
   {
   display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid black;
   }
   nav ul {
 list-style-type: none;
 display: flex;
   }
   nav li {
 margin-right: 15px;
   }

   ul li {
    list-style-type: none;
   }

